-----BEGIN CERTIFICATE-----
MIIELzCCAxegAwIBAgIJAO5Ots7JmOztMA0GCSqGSIb3DQEBCwUAMIGtMQswCQYD
VQQGEwJBVTEYMBYGA1UECAwPTmV3IFNvdXRoIFdhbGVzMQ8wDQYDVQQHDAZTeWRu
ZXkxEDAOBgNVBAoMB0RhdGEgNjExFjAUBgNVBAsMDU1peGVkIFJlYWxpdHkxGTAX
BgNVBAMMEEpheWJpZSBkZSBHdXptYW4xLjAsBgkqhkiG9w0BCQEWH2pheWJpZS5k
ZWd1em1hbkBkYXRhNjEuY3Npcm8uYXUwHhcNMTgwNDAzMDIyODIzWhcNMTkwNDAz
MDIyODIzWjCBrTELMAkGA1UEBhMCQVUxGDAWBgNVBAgMD05ldyBTb3V0aCBXYWxl
czEPMA0GA1UEBwwGU3lkbmV5MRAwDgYDVQQKDAdEYXRhIDYxMRYwFAYDVQQLDA1N
aXhlZCBSZWFsaXR5MRkwFwYDVQQDDBBKYXliaWUgZGUgR3V6bWFuMS4wLAYJKoZI
hvcNAQkBFh9qYXliaWUuZGVndXptYW5AZGF0YTYxLmNzaXJvLmF1MIIBIjANBgkq
hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA6GdBzT8LblwYejtbD0Lu9zn9ao5TF98B
WkA9CINLSxc+f72rqF878WbZ9UdIzlMzPIrA7rYYTT0I86YmkwvtJLycEtI5PYKc
pGTt5pn/JT7I28cZwQBV9W+/03wqkR8lddXx3X4GdN9PJAwYe5hSLcPk2tvpK51i
SS2RHw5wWE4toIbUTImJgXH469lFpfrBGQ2PdgQ2Eq/ZGkrgvQ17c6j7j8JhfQ9a
+lNLs3sViH5t6KAWpWu3rfUAg+tM8Qr8AGfU6ESa6xrAQhFngSV04CntzcV+sw39
yjsQZuLD7J8WC8AxVAnWbCqYhbsHgBAGeuyckUTaLdVVXXjb/zrp4wIDAQABo1Aw
TjAdBgNVHQ4EFgQUeXqj3lWt2XCCL+yX2apNhMBvTBEwHwYDVR0jBBgwFoAUeXqj
3lWt2XCCL+yX2apNhMBvTBEwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsFAAOC
AQEATXVQ1Hea+TaPoaxjPHsYGVgPNg51IlMq8jHfVzXbzKJ5p4S2KBg7mcoSXoo1
qnALw5Y21E2kYjElbd8dgeA18C0NlSf/n1MYp4D/dIl/DW9Zj0RyiEYAb1AdRR9y
fFvaMNJbT42bNHc4hqjz5nGOKG0kFykMdgCCgYXjpylizlUFmrI3lsJzHdWZsdXX
yzrk9qBKWr2GweZXqGwWeSHD6RDOzmE9puez3KB8KWoItNCil/8cq3b/i9zTz7jz
jG2jH8CkRBfggPRXblQ36kdeI0m993VrntHEXT2Jcrigkd/SVIjFbAixvs9eYRS6
E69ob41ZPIFIXU9gZbVuovwEgw==
-----END CERTIFICATE-----
